/* 
	Contact list 
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
	background-color: #30bee2;
}

.head-bar {
	border-bottom: 2px solid;
	border-color: white;
	color:white;
	

	
	
}

.back-button {

	margin-left: 5px;	
	margin-top: 10px;
	position: relative;
	top: 3px;
	left: 4px;



}

.bar-item{
	display:inline-block;
}

.title {
	color: white;
}


li {
	font-size: 20px;
	color: white;
	
}



a{
	
	text-decoration: none;
}

/* 
	Call Page 
			  */

/*.call-button{
	display: inline-block;
	
}*/

.call-button{
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.call-button .popuptext{
	visibility: hidden;
	width: 200px;
	height: 50px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 8px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 100%
	left: 200%;
	margin:0px -10px; 
}

.call-button .show{
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn{
	from {opacity: 0;}
	to {opacity: 1;}
}






